<div class="project-card">
        <div class="project-card-header">
                {{title}}
        </div>

        <div class="card-body">
              <p>
                      Description: {{text}}
             </p>

              <p>
                      Date Created: {{date_created}}
              </p>
<!--
              {{#if needed_funding}}
              
 boolean field only 
              <p> 
                      Needed Funding
              </p>
              {{/if}}-->

  </div>
<!--
  <form  id="the-form">
          <input type="text" id="title"
          placeholder="your post title" 
          />

          <input type="text" id="text"
          placeholder="your post" 
          />
           <button type="submit" class="btn btn-primary" id="submit-btn">
          Submit New Post - use enter instead
</form>
<script src="/scripts/add-article.js"></script>-->

</div>