<div class="project-card">
        <div class="project-card-header">
                {{title}}
        </div>

        <div class="card-body">
              <p>
                      Description: {{text}}
             </p>

              <p>
                      Date Created: {{date_created}}
              </p>
<!--
              {{#if needed_funding}}
              
 boolean field only 
              <p> 
                      Needed Funding
              </p>
              {{/if}}-->

  </div>
</div>