

 {{#each categories as |category|}}

   
     <h3>Post Category: {{category.category_name}}</h3>
        <button> explore {{category.category_name}}   </button>
          <h5> articles for this category: </h5>


          {{#each category.articles as |article_in_category|}} 
                  <p>{{article_in_category.title}}</p>
          {{/each}}  



 {{/each}}


