<div class="menu-container">
  
      <div class="card-header col-md-10">
          <h2> Header on homepage handlebar </h2>
      </div>

  {{#each articles as |article|}}
    <div class="cards">  
              <section class = "card1">
                  {{article.id}}.
                  {{article.title}}
             </section>
        
              <section class = "card1">
                   {{article.text}}
             </section>
           
             <section class = "card1">
                  Project Initiate Date:
                  {{article.date_created}}
            </section>
    </div>

  {{/each}}
</div> 