<div class="project-card">


          <h1> I AN ARTICLE page</h1>


        <div class="project-card-header">
                {{article.title}}
        </div>

        <div class="card-body">
              <p>
                      Description: {{article.text}}
             </p>

              <p>
                      Date Created: {{article.date_created}}
              </p>


  </div>


</div>